<p>Create a new contact</p>

<form {{action 'create' this on='submit'}}>
  <p>{{input type="text" placeholder="First Name" value=firstName}}</p>
  <p>{{input type="text" placeholder="Last Name" value=lastName}}</p>
  <p>{{input type="text" placeholder="Email Name" value=email}}</p>
  <p>{{input type="text" placeholder="Title Name" value=title}}</p>

  <button>Create Contact</button>
</form>
